{% extends 'partials/layout.html' %}
{% block title %}Preliminary Information{% endblock %}
{% block nav %}

   <nav class="nav-primary">
      <img src="http://www.sanger.ac.uk/sites/all/themes/zangerfront/images/wtsi_logo.png" alt="">
      <a href="./index.html">
         <h1>Sanger Aker thing</h1>
      </a>
      <ul>
         <li><a href="./account.html">Account</a></li>
         <li><a href="./index.html">Logout</a></li>
      </ul>
   </nav>

{% endblock %}

{% block content %}
<div class="container">
   <h2>Account Settings</h2>
   <p style="margin-top:20px;">Some interesting facts such a permission roles, password reset, profile pic etc.</p>
</div>

   
{% endblock %}

{% block footer %}
<footer>
   <p>&copy; Copyright &verbar; All Rights Reserved</p>
</footer>
{% endblock %}

{% block customScripts %}

<script type="text/javascript">
</script>
{% endblock %}