{% extends 'partials/layout.html' %}
{% block title %}base template{% endblock %}
{% block nav %}

   <nav class="nav-primary">
      <img src="http://www.sanger.ac.uk/sites/all/themes/zangerfront/images/wtsi_logo.png" alt="">
      <h1>Sanger Aker thing</h1>

      <ul>
         <li><a href="">Account</a></li>
         <li><a href="./index.html">Logout</a></li>
      </ul>
   </nav>

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<footer>
   <p>&copy; Copyright &verbar; All Rights Reserved</p>
</footer>
{% endblock %}