{% extends 'partials/layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block nav %}

   <nav class="nav-primary">
      <img src="http://www.sanger.ac.uk/sites/all/themes/zangerfront/images/wtsi_logo.png" alt="">
      <h1>Sanger Aker</h1>
      <ul>
         <li><a href="./account.html">Account</a></li>
         <li><a href="./index.html">Logout</a></li>
      </ul>
   </nav>

{% endblock %}

{% block content %}
<div class="container">
   <h3 class="name" style=""></h3>
   <section class="studiesContainer">
      <div class="col-sm-12" style="padding:2.5em 4em; box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.24); margin-top:60px;">
         <button class="btn btn-lg btn-primary" style="float:right" data-toggle="modal" data-target="#myModal">Add Study</button>
      <section class="studies_heading" style="display:flex; width:100%; margin-top:60px; font-size:1rem;">
        <h4 style="flex:2;font-size:1.5rem;">Project/Study</h4>
        <h4 style="flex:0.5;text-align:center;font-size:1.5rem;">Study Id</h4>
        <h4 style="flex:0.5;text-align:center;font-size:1.5rem;">Cost Code</h4>
        <h4 style="flex:0.5;text-align:center;font-size:1.5rem;">Funding Type</h4>
        <h4 style="flex:0.5;text-align:center;font-size:1.5rem;">RT Ticket</h4>
        <h4 style="flex:0.5;text-align:center;font-size:1.5rem;">Status</h4>
      </section>
      <section class="studies" style="display:flex; width:100%; margin-top:20px;">

         
         
      </section>
      
      </div>
   </section>
</div>



<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new study</h4>
        </div>
        <div class="modal-body">
          <p>If you already have prelim data in eCap or another source, export a CSV file first, and then select the import option below.</p>
          <a href="./prelim.html?phase=import"class="btn btn-lg btn-default">Import prelim data</a>
          <a href="./prelim.html?phase=new" class="btn btn-lg btn-primary">Use blank template</a>
        </div>
      </div>
      
    </div>
  </div>
   
{% endblock %}

{% block footer %}
<footer>
   <p>&copy; Copyright &verbar; All Rights Reserved</p>
</footer>
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
var name = Cookies.get('username');
$('.name').html('Welcome back ' + name);
</script>

<script type="text/javascript">
var tests = Cookies.getJSON('test');
var testDetails = '';
for(var test in tests) {
  if(test !== 'studyCount') {
   testDetails += '<a href="./study.html?id=' + test + '&name=' + tests[test].name + '&code=' + tests[test].code + '&date=' + tests[test].date + '&status=' + tests[test].status + '">';
            testDetails += '<section class="studyItem">';
               testDetails += '<h4>' + tests[test].Project_Study + '</h4>';
               testDetails += '<div class="manifest btn btn-large btn-info" id="' + test + '">Create Manifest</div>';
               testDetails += '<section class="studyInfo">';
                  testDetails += '<div class="date">' + tests[test].Study_ID + '</div>';
                  testDetails += '<div class="code">' + tests[test].Cost_Code + '</div>';
                  testDetails += '<div class="code">' + tests[test].Funding_Type + '</div>';
                  testDetails += '<div class="code">' + tests[test].RT_Ticket + '</div>';
                  switch(String(tests[test].status).toLowerCase()) {
                    case 'active' :
                      testDetails += '<div class="state btn btn-success btn-xs">' + tests[test].status + '</div>';
                    break;
                    case 'inactive' :
                      testDetails += '<div class="state btn btn-default btn-xs">' + tests[test].status + '</div>';
                    break;
                    case 'waiting' :
                      testDetails += '<div class="state btn btn-warning btn-xs">' + tests[test].status + '</div>';
                    break; 
                  }
                  
               testDetails += '</section>';
            testDetails += '</section>';
         testDetails += '</a>';
}
}
$('.studies').append(testDetails);

$('body').on('click', '.manifest', function (event) {
  event.preventDefault();
  window.location = './manifest.html?id=' + $( this ).attr('id');
});
</script>
{% endblock %}