
{% extends 'partials/layout.html' %}
{% block title %}Sanger Portal Sign In{% endblock %}
{% block bodyClass %}sign{% endblock %}

{% block content %}

   <section style="display: flex; justify-content:center; align-items:center; height: 90vh; flex-direction:column;">
      <img src="http://placehold.it/120" style="display:block; margin-bottom:40px;" alt="">
      <h1 style="text-transform: none">Sanger Aker Portal thing</h1>
      <form action="" style="width:30%; margin-top:50px;">
         <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
         </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
         </div>
         <button type="submit" class="btn btn-primary btn-lg" style="float:right; margin-top:30px;">Sign in</button>
      </form>
   </section>
{% endblock %}

{% block footer %}
<footer>
   <p>&copy; Copyright &verbar; All Rights Reserved</p>
</footer>
{% endblock %}