
{% extends 'partials/layout.html' %}
{% block title %}Sanger Portal Sign In{% endblock %}
{% block bodyClass %}sign{% endblock %}

{% block content %}

   <section style="display: flex; justify-content:center; align-items:center; height: 90vh; flex-direction:column;">
      <img src="http://www.sanger.ac.uk/sites/all/themes/zangerfront/images/wtsi_logo.png" style="display:block; margin-bottom:40px; width:300px;" alt="">
      <h1 style="text-transform: none">Sanger Aker Portal</h1>
      <form action="#" id="loginForm" style="width:30%; margin-top:50px;" onsubmit="return false">
        <p style="font-size:1.8rem;">Please log in using your details for any Aker product</p>
         <div class="form-group">
            <label for="username">Please enter your username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
         </div>
         <div class="form-group">
            <label for="password">Please enter your password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
         </div>
         <button type="submit" name="Submit" value="submit" class="btn btn-primary btn-lg loginSubmit" style="float:right; margin-top:30px;">Sign in</button>
      </form>
   </section>
{% endblock %}

{% block footer %}
<footer>
   <p>&copy; Copyright &verbar; All Rights Reserved</p>
</footer>
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
Cookies.set('test', {
                      '1': {
                        'Project_Study': 'ILB 1130-AG-GAB-CAPUTO',
                        'Study_ID': '3397',
                        'Cost_Code': 'S0730',
                        'Funding_Type': 'Internal',
                        'RT_Ticket': '500123',
                        'status': 'inactive'
                      },
                      '2': {
                        'Project_Study': 'ILB 1130-AG-GAB-CAPUTO',
                        'Study_ID': '3397',
                        'Cost_Code': 'S0730',
                        'Funding_Type': 'Internal',
                        'RT_Ticket': '500123',
                        'status': 'active'
                      },
                     'studyCount': 0
                     });
</script>
{% endblock %}