
{% extends 'partials/layout.html' %}
{% block title %}Sanger Portal Sign In{% endblock %}
{% block bodyClass %}sign{% endblock %}

{% block content %}

   <section style="display: flex; justify-content:center; align-items:center; height: 90vh; flex-direction:column;">
      <img src="http://www.sanger.ac.uk/sites/all/themes/zangerfront/images/wtsi_logo.png" style="display:block; margin-bottom:40px; width:300px;" alt="">
      <h1 style="text-transform: none">Sanger Aker Portal thing</h1>
      <form action="#" id="loginForm" style="width:30%; margin-top:50px;" onsubmit="return false">
        <p style="font-size:1.8rem;">Please log in using your details for any Aker product</p>
         <div class="form-group">
            <label for="username">Please enter your username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
         </div>
         <div class="form-group">
            <label for="password">Please enter your password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
         </div>
         <button type="submit" name="Submit" value="submit" class="btn btn-primary btn-lg loginSubmit" style="float:right; margin-top:30px;">Sign in</button>
      </form>
   </section>
{% endblock %}

{% block footer %}
<footer>
   <p>&copy; Copyright &verbar; All Rights Reserved</p>
</footer>
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
Cookies.set('test', {'1': {
                           'name': 'Random Code herhe',
                           'date': '24/01/1029',
                           'status': 'Active',
                           'code': 'usdiasdiuas'
                          },
                     '2': {
                        'name': 'Another code here',
                        'date': '24/21/1029',
                        'status': 'Inactive',
                        'code': 'asdhasdh'
                       },
                     '3': {
                           'name': 'asdgagd isigas',
                           'date': '4/21/1029',
                           'status': 'Waiting',
                           'code': 'ajhsagsdsg'
                          },
                     'studyCount': 3
                     });
</script>
{% endblock %}