<!doctype html>
<html class="no-js" lang="en-GB">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Preliminary Information</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../assets/css/styles.css?v=1500487673423">

	
	
</head>

<body class="">
	<header class="site-header" role="banner">
		<div class="skip-links">
			<a href="#navigation" class="skip">Skip to navigation</a>
			<a href="#main" class="skip">Skip to main content</a>
			<a href="#footer" class="skip">Skip to footer</a>
		</div>

		

   <nav class="nav-primary">
      <img src="http://www.sanger.ac.uk/sites/all/themes/zangerfront/images/wtsi_logo.png" alt="">
      <a href="./index.html">
         <h1>Sanger Aker thing</h1>
      </a>
      <ul>
         <li><a href="./account.html">Account</a></li>
         <li><a href="./index.html">Logout</a></li>
      </ul>
   </nav>



	</header>

	<div class="main" id="main" role="main">
		
<div class="container">
   <h2>Account Settings</h2>
   <p style="margin-top:20px;">Some interesting facts such a permission roles, password reset, profile pic etc.</p>
</div>

   

	</div>



<footer>
   <p>&copy; Copyright &verbar; All Rights Reserved</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script src="../assets/js/common.min.js"></script>
<script src="../assets/js/main.min.js" defer></script>



<script type="text/javascript">
</script>


</body>
</html>