@font-face {
	font-family: "Montserrat";

	src: url("../fonts/montserratalternates-regular-webfont.woff2") format("woff2"),
	     url("../fonts/montserratalternates-regular-webfont.woff") format("woff"),
	     url("../fonts/Montserrat-Regular.otf") format("otf");
}

@font-face {
	font-family: "Raleway";

	src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"),
	     url("../fonts/raleway-regular-webfont.woff") format("woff"),
	     url("../fonts/Raleway-Regular.otf") format("otf");
}