body{
   padding:3rem;
}
.sign{
   .main{
      padding-top: 0 !important;
      max-height: 88vh;
   }
}
.main{
   padding-top: 120px;
   min-height: 89vh;
}
.skip-links{
   display: none;
}
footer{
   text-align: right;
   border: 0;
   width:100%;
   margin-right: 2em;
}
.item{
   -webkit-user-select: none;  /* Chrome all / Safari all */
   -moz-user-select: none;     /* Firefox all */
   -ms-user-select: none;      /* IE 10+ */
   user-select: none;          /* Likely future */   
}
.active{
   background-color: green !important;
}
td {
   &:focus{
      background-color: rgb(33, 150, 243) !important;
      color: white;
      font-weight: bold;
   }
}